
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FAFAFA;
  color: #333; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #333; 
  text-decoration: inherit;
}
a:hover {
  color: #0051A8; /* Darker blue */
}

body {
  display: fixed;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
body,html{
  padding: 0;
  margin: 0;
}

.card {
  padding: 2em;
  color: #333333; 
}

#app {

}

/* Dropdown Menu Styles */
.dropdown {
  position: relative; 
  display: inline-block; 
}

/* Inside your <style scoped lang="scss"> block */
.dropdown-content a {
  color: black; 
  padding: 10px; 
  display: block; 
  text-decoration: none; 
  margin-bottom: 8px; 
  border: 2px solid transparent; 
  border-radius: 10px; 
}

/* Adjusting the hover state for visual feedback */
.dropdown-content a:hover {
  background-color: #f1f1f1; 
  color: black; 
  border-radius: 10px; 
  transition: background-color 0.4s ease;
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9; 
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  padding: 20px; 
  border-radius: 10px; 
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.dropdown-trigger:hover + .dropdown-content {
  display: block;
}

.dropdown-content RouterLink:hover {
  background-color: #f1f1f1; 
  border-radius: 5px; 
}

.dropdown:hover .dropdown-content {
  display: block; 
}